<mat-toolbar class="full" color="primary">
  @if (currentUser) {
  <a routerLink="/vocabulary-trainer" routerLinkActive="active"
    >Словарный тренажер</a
  >
  @if(currentUser.isAdmin || currentUser.isSuperAdmin) {
  <a routerLink="/word-editor/add-word" routerLinkActive="active"
    >Добавить слово</a
  >
  }
  <a routerLink="/word-editor/word-list" routerLinkActive="active"
    >Список слов</a
  >
  <div class="right">
    <button
      routerLink="/auth/account"
      mat-icon-button
      matTooltip="Личный кабинет"
    >
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogout()" [matTooltip]="'Выйти'">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  } @else {
  <button class="left" routerLink="/" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button
    class="right"
    routerLink="/auth/login"
    mat-icon-button
    matTooltip="Войти"
  >
    <mat-icon>login</mat-icon>
  </button>
  }
</mat-toolbar>

<mat-toolbar class="mobile" color="primary">
  @if (currentUser) {
  <div class="row">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="row">
    <button
      routerLink="/auth/account"
      mat-icon-button
      matTooltip="Личный кабинет"
    >
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogout()" [matTooltip]="'Выйти'">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/vocabulary-trainer"
      routerLinkActive="active"
    >
      <span>Словарный тренажер</span>
    </button>
    @if(currentUser.isAdmin || currentUser.isSuperAdmin) {
    <button
      mat-menu-item
      routerLink="/word-editor/add-word"
      routerLinkActive="active"
    >
      <span>Добавить слово</span>
    </button>
    }
    <button
      mat-menu-item
      routerLink="/word-editor/word-list"
      routerLinkActive="active"
    >
      <span>Список слов</span>
    </button>
  </mat-menu>
  } @else {
  <button class="left" routerLink="/" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button
    class="right"
    routerLink="/auth/login"
    mat-icon-button
    matTooltip="Войти"
  >
    <mat-icon>login</mat-icon>
  </button>
  }
</mat-toolbar>
