@import "../../../../../assets/scss/variables.scss";

.test {
  max-width: calc(100vw - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  h2 {
    max-width: 100%;
    text-align: center;
  }

  @media #{$mobile-media} {
    max-width: calc(100vw - 32px);

    h2 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.container {
  flex-wrap: wrap;
  min-height: 108px;
  max-width: 100%;
  background-color: $grey-6;
  padding: 20px 15px;

  @media #{$mobile-media} {
    padding: 5px 8px;
    min-height: 70px;
  }
}

.variants {
  max-width: calc(100vw - 80px);
  flex-wrap: wrap;
  margin-top: 30px;
  height: 52px;

  @media #{$mobile-media} {
    max-width: calc(100vw - 32px);
  }
}

.actions {
  margin-top: -30px;
}

h2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 48px;
}

app-audio-player {
  position: relative;
  top: 4px;

  @media #{$mobile-media} {
    top: 0;
  }
}
