<main>
  <div class="row">
    <h1 class="login__title">Особистий кабінет</h1>
    @if (!isEditMode) {
    <button
      class="edit-btn"
      color="accent"
      mat-icon-button
      matTooltipPosition="above"
      matTooltip="Редактировать"
      (click)="onEdit(true)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    }
  </div>

  <form [formGroup]="form" novalidate="" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label>Логін</mat-label>
      <input matInput formControlName="login" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Пароль</mat-label>
      <input matInput type="text" formControlName="password" />
    </mat-form-field>

    @if (isEditMode) {
    <div class="actions row">
      <button mat-raised-button type="button" (click)="onEdit(false)">
        Відмінити зміни
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || isLoading"
      >
        Зберегти зміни
      </button>
    </div>
    }
  </form>
  <button
    class="delete"
    mat-stroked-button
    color="warn"
    (click)="onDeleteAccount()"
  >
    Видалити акаунт
  </button>
</main>

@if (isLoading) {
<app-loader></app-loader>
}
