@import "../../../../../assets/scss/variables.scss";

.container {
  margin-top: 10px;
  width: 350px;
  max-width: calc(100vw - 80px);

  @media #{$mobile-media} {
    max-width: calc(100vw - 32px);
  }
}

mat-form-field {
  width: 100%;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

h3 {
  width: 300px;
  margin-bottom: 40px;
  color: $yellow-1;
  text-align: center;
}

.answer {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid $green-0;
  color: $green-0;
  border-radius: 5px;
  font-size: 30px;
  margin-bottom: 10px;

  &.error {
    border-color: $red-6;
    color: $red-6;
  }
}

h2 {
  color: $yellow-1;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.next {
  margin-bottom: 30px;
}
