@import "../../../../assets/scss/variables.scss";

a {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $purple-2;
  border-radius: 5px;
  background-color: $grey-2;
  transition: transform 0.3s ease;
  margin: 5px;
  text-align: center;

  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}
